<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/analysis.css" />
    <link rel="stylesheet" href="../static/css/layui.css" />
    
</head>

<body>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item layui-inline" id="layui-form-item1">
            <label class="layui-form-label">选择{{ filterTitle }}:</label>
            <div class="layui-input-block">
                <select name="filterValue">
                    <option value="">所有{{ filterTitle }} </option>
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline" id="layui-form-item2">
            <label class="layui-form-label">薪资范围:</label>
            <div class="layui-input-inline" style="width: 100px">
                <input type="text" name="minSalary" placeholder="1" autocomplete="off" class="layui-input" />
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px">
                <input type="text" name="maxSalary" placeholder="100" autocomplete="off" class="layui-input" />
            </div>
        </div>
        <div class="layui-form-item layui-inline" id="layui-form-item3">
            <label class="layui-form-label">分组数量:</label>
            <div class="layui-input-inline">
                <input name="groupAmount" placeholder="输入分组数量" type="number" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline" id="layui-form-item4">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即刷新</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </form>

    <div class="content">
        <div class="layui-row">
            <div class="chart-container salary-bar">
                <div id="salaryBar" class="chart">
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="chart-container group-pie">
                <div id="groupPie" class="chart">
                </div>
            </div>
            <div class="jobs">
                <p>前 10 职业详细信息</p>
                <div class="table">
                    <table id="groupTable" class="layui-hide" ></table>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <!-- 前十职业各学历需求堆叠条形分布 -->
            <div class="chart-container degree-bar">
                <div id="degreeBar" class="chart">
                </div>
            </div>

            <!-- 学历占比 -->
            <div class="chart-container degree-pie">
                <div id="degreePie" class="chart">
                </div>
            </div>
        </div>
        <div class="layui-row">
            <!-- 经验占比 -->
            <div class="chart-container experience-pie">
                <div id="experiencePie" class="chart">
                </div>
            </div>
            
            <!-- 前十职业各经验需求堆叠条形分布 -->
            <div class="chart-container experience-bar">
                <div id="experienceBar" class="chart">
                </div>
            </div>
        </div>
        <script src="../static/layui.js"></script>
        <script src="../static/js/libs/echarts.min.js"></script>
        <script src="../static/js/libs/jquery-3.6.1.min.js"></script>
        <script src="../static/js/analysis.js"></script>
</body>

</html>