<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singleCareerAnalysis</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/dataAnalysis.css">
    <link rel="stylesheet" href="../static/css/layui.css">
</head>

<body>
    <div class="content">
        <div class="user_selection">
            <div class="display_box user_selection_left"><p class="part_title">Area Selected/所在地区选择</p></div>
            <div class="display_box user_selection_middle"><p class="part_title">Career Selected/职业选择</p></div>
            <div class="display_box user_selection_right"><p class="part_title"> Progress Chart/目标职业数据统计</p></div> 
        </div>
        <div class="line1_charts">
            <div class="display_box line1_charts_left">
                <p class="part_title">Salary Analysis/某职业薪资待遇分布分析</p>
                这里是某职业薪资柱状图：横坐标薪资段，纵坐标数量
            </div>
            <div class="display_box line1_charts_right">
                <p class="part_title">Salary Analysis/某职业薪资待遇占比分析</p>
                这里展示某职业不同薪资段占比饼状图
            </div>
        </div>
        <div class="line2_charts">
            <div class="display_box line2_charts_left">
                <p class="part_title">Education Analysis/某职业教育程度占比</p>
                这里展示某职业学历占比饼状图
            </div>
            <div class="display_box line2_charts_right">
                <p class="part_title">Education Analysis/某职业教育程度分析</p>
                这里展示某职业学历分布柱状图，横坐标学历，纵坐标数量
            </div>
        </div>
        <div class="display_box line3_charts">
            <p class="part_title">Experience Analysis/某职业要求工作经验分析</p>
            这里展示某职业工作经验横向柱状图，纵坐标工作经验段，横坐标数量
        </div>
    </div>
    <script src="../static/layui.js"></script>
</body>

</html>