<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/dataAnalysis.css">
    <link rel="stylesheet" href="../static/css/layui.css">
</head>

<body>
    <div class="content">
        <div class="user_selection">
            <div class="display_box user_selection_left"><p class="part_title">Area Selected/所在地区选择</p></div>
            <div class="display_box user_selection_middle"><p class="part_title">Minimum Salary/最低薪资选择</p></div>
            <div class="display_box user_selection_right"><p class="part_title">Maximum Salary/最高薪资选择</p></div> 
        </div>
        <div class="line1_charts">
            <div class="display_box line1_charts_left">
                <p class="part_title">Salary Analysis/薪资待遇分布分析</p>
                这里是薪资柱状图
            </div>
            <div class="display_box line1_charts_right">
                <p class="part_title">Salary Analysis/薪资待遇占比分析</p>
                这里展示薪资占比
            </div>
        </div>
        <div class="line2_charts">
            <div class="display_box line2_charts_left">
                <p class="part_title">Popular Occupation/热门职业占比分析</p>
                这里展示前十职业占比
            </div>
            <div class="display_box line2_charts_right">
                <p class="part_title">Top 10 Popular Occupations/十大热门职业展示</p>
                <div class="table-container">
                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col width="20">
                            <col width="300">
                            
                        </colgroup>
                        <thead>
                            <tr>
                                <th>排名</th>
                                <th>职业名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                            <tr><td>贤心</td><td>人生就像是一场修行</td></tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="display_box line3_charts">
            <p class="part_title">Educational background Analysis/教育程度分析</p>
            这里展示教育占比
        </div>
    </div>
    <script src="../static/layui.js"></script>
</body>

</html>