@import url("./reset.css");
@import url("//at.alicdn.com/t/c/font_3640972_kp8b0c3cq58.css");

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a8a8a8;
}